<article class="header">  
  <p>
    <span>You should<%= @verb %><a href="http://facebook.com/<%= @activity['id'] %>"><%= @activity['name']%></a> with <a href="http://facebook.com/<%= @rand_friend['id'] %>"><%= @rand_friend['name'] %></a>.</span>  
  </p>

  <ul>
    <li>
      <a href="#" class="link" id="logout">
        <span class="link">THIS ISN'T FUCKING ME</span>
      </a>
    </li>
    <li>
      <a href="/" class="link" id="nextidea">
        <span class="link">NO, THAT SOUNDS FUCKING STUPID</span>
      </a>
    </li>
    <li>
      <a href="/" class="link" id="blockperson">
        <span class="link">NOT THIS FUCKING PERSON</span>
      </a>
    </li>
  </ul>
</article>