<article class="header">  
  <p>
    <span>You should<%= @verb ><a href="http://facebook.com/<%= @activity['id'] %>"><%= @activity['name'].downcase %></a> with <a href="http://facebook.com/<%= @rand_friend['id'] %>"><%= @rand_friend['name'] %></a>.</span>  
  </p>
</article>